
@{
    ViewBag.Title = "Index";
}

<h2>Admin Control Page</h2>

<p>The admin will be given a link to a search page. There they will be able to search for authors and journals, and view them or delete them.</p>

