@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            <small>@DateTime.Today.ToString("D")</small>
            <h2 class="">Welcome to the Community</h2>
            <p class="lead">Beer and coffee, they each deserve their own recognition for aroma, taste, and societal impact. Here, you may share your experiences to enlighten others and remind yourself later of the greatness you found... where it came in a bottle, mug, whatever. </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <h4>Where to start?</h4>
            <p>So much influences each glass you enjoy - here are helpful links to get you started to understanding taste, how to taste, and vocabulary to make you sound smart.</p>
            <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Coffee_cupping">Coffee Tasting &raquo;</a></p>
            <p><a class="btn btn-default" href="http://www.craftbeer.com/the-beverage/tasting">Beer Tasting &raquo;</a></p>
        </div>
    </div>
</div>

@* TODO: Place partial view for coffee journal list here*@

@* TODO: Place partial view for beer journal list here*@