
@{
    ViewBag.Title = "Maps";
}

<h2>Maps</h2>
<p>There are several local craft roasters and fermenters around Oregon. Take a look and see what's near you!</p>
<hr />

<h4>Coffee Roasters</h4>
<iframe class="googlemaps" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7156.45632684296!2d-123.09717183140188!3d44.05207843019064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scoffee+roaster!5e0!3m2!1sen!2sus!4v1455857884490"
        width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>


<h4>Beer Crafters</h4>
<iframe class="googlemaps" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d11470.059034926715!2d-123.0971718321392!3d44.05207816995775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sbreweries!5e0!3m2!1sen!2sus!4v1455857999790"
        width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>



<script type="text/javascript">
    // Resize map to appropriately fit window size for all devices.
    // This will aid scrolling on mobile devices (map won't take up screen and therefore screen scroll capability)
    // Checks window's size on load and on resize.
$(document).ready(function() {

    var width = $(window).width();

    var width = $(window).width();

    if (width < 975) {
        $(".googlemaps").width(600).height(350);
    }
    if (width < 650) {
        $(".googlemaps").width(400).height(400);
    }
    if (width < 450) {
        $(".googlemaps").width(250).height(300);
    }
});

$(window).resize(function () {

    var width = $(window).width();
    if (width > 975) {
        $(".googlemaps").width(800).height(600);
    }
    else if (width < 975 && width > 650) {
        $(".googlemaps").width(600).height(500);
    }
    else if (width < 650 && window > 450) {
        $(".googlemaps").width(400).height(400);
    }
    else if (width < 450) {
        $(".googlemaps").width(300).height(300);
    }
});
</script>
